$dark-gray:  rgb(50, 48, 50);

@media screen and (max-width: 768px){
  * {
    margin: 0;
  }

.App-header{
  background-color: $dark-gray;
  position: relative;
  z-index: 10;
  width: 100%;
}
.title{
  color: white;
  float: right;
  font-size: 200%
}
  .hamburger{
    width: 8%;
    padding: 5px;
  }

  .listViewBar{
    background-color: $dark-gray;
    color: white;
    width: 15%;
    height: 95vh;
    position: absolute;
    z-index: 10;
  }

  .markerIcon{
    width: 10%;
    padding: 5px;
    float: left;
  }

  .listSelection{
    padding-top: 20%;
    padding-bottom: 20%;  }
}

@media screen and (min-width: 769px){
  * {
    margin: 0;
  }

  .App-header{
    background-color: $dark-gray;
    position: relative;
    z-index: 10;
    width: 100%;
  }
  .title{
    color: white;
    float: right;
    font-size: 300%
  }
  .hamburger{
    width: 3%;
    padding: 5px;
  }

.listViewBar{
  background-color: $dark-gray;
  color: white;
  width: 15%;
  height: 95vh;
  position: absolute;
  z-index: 10;
  }

  .markerIcon{
    width: 10%;
    padding: 5px;
    float: left;
  }
  .listSelection{
    padding-top: 20%;
    padding-bottom: 20%;
  }
}
