@import "mixins";

@media screen and (max-width: 414px){
  * {
    margin: 0;
  }

  .App-header{
    @include app-header;
  }
  .title{
    @include title(200%);
  }
  .hamburger{
    @include hamburger(10%);
  }

  .listViewBar{
    @include list-viewbar(75%);
  }

  .search{
    @include search(45px, 18px);
  }

  .list{
    @include list(20px, scroll);
  }

  .markerIcon{
    @include marker-icon(6%);
  }

  .listSelection{
    @include list-selection(10%, 10%);
  }
}

@media screen and (min-width: 415px) and (max-width: 768px){
  * {
    margin: 0;
  }

  .App-header{
    @include app-header;
  }
  .title{
    @include title(200%);
  }
  .hamburger{
    @include hamburger(8%);
  }

  .listViewBar{
    @include list-viewbar(75%);
  }

  .search{
    @include search(45px, 18px);
  }

  .list{
    @include list(20px, scroll);
  }

  .markerIcon{
    @include marker-icon(4%);
  }

  .listSelection{
    @include list-selection(5%, 5%);
  }
}

@media screen and (min-width: 769px) and (max-width: 1366px){
  * {
    margin: 0;
  }

  .App-header{
    @include app-header;
  }
  .title{
    @include title(300%);
  }
  .hamburger{
    @include hamburger(6%);
  }

  .listViewBar{
    @include list-viewbar(75%);
  }

  .search{
    @include search(45px, 30px);
  }

  .list{
    @include list(30px, scroll);
  }

  .markerIcon{
    @include marker-icon(4%);
  }

  .listSelection{
    @include list-selection(5%, 5%);
  }
}

@media screen and (min-width: 1367px){
  * {
    margin: 0;
  }

  .App-header{
    @include app-header;
  }
  .title{
    @include title(300%);
  }
  .hamburger{
    @include hamburger(3%);
  }

  .listViewBar{
    @include list-viewbar(15%);
  }

  .search{
    @include search(30px, 30px);
  }

  .list{
    @include list(20px, none);
  }

  .markerIcon{
    @include marker-icon(10%);
  }

  .listSelection{
    @include list-selection(15%, 15%);
  }
}
